@import "reset.scss";
@import "vars.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $white;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    background-color: $white;
    color: $black;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

a {
    text-decoration: none;
}

button,
a.button {
    position: relative;
    height: 50px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-family: Roboto;
    font-size: 16px;
    color: $white;
    font-weight: 500;
    background: $gradient;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    @include trans;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white, .2);
        opacity: 0;
        @include trans;
    }

    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }

    &:hover:before {
        opacity: 1;
    }
}

#back-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    @include trans;

    &:hover {
        transform: translateX(-5px);
    }
}

#site-title {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    height: 63px;
    display: flex;
    align-items: center;
    padding: 0 $screenMargeMobile;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#location {
    background-color: $grey2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px $screenMargeMobile;
    gap: 17px;
    font-weight: 500;
}

#promesse {
    background-color: $greyBg;
    padding: 40px;
    text-align: center;

    h2,
    p {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
    }
}

#fonctionnement {
    padding: 50px $screenMargeMobile;

    h2 {
        margin-bottom: 20px;
    }
}

.pill {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 0;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.pill-number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $purple;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transform: translateX(-50%);
}

.pill-icon {
    margin-right: 30px;

    svg {
        position: relative;
        left: 10px;

        path {
            fill: $icon;
        }
    }
}

.pill-text {
    font-size: 16px;
    font-weight: 500;
}

#restaurants {
    background-color: $greyBg;
    padding: 50px $screenMargeMobile;

    h2 {
        margin-bottom: 50px;
    }

    .restaurant-card:last-child {
        margin-bottom: 0;
    }
}

.restaurant-card {
    position: relative;
    display: block;
    color: $black;
    background-color: $white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
}

.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: $greenBg;
    border-radius: 2px;
    color: $greenTxt;
    font-size: 14px;
    font-weight: 500;
}

.restaurant-img {
    height: 230px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.restaurant-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.restaurant-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;

    &::first-letter {
        text-transform: uppercase;
    }
}

.restaurant-place {
    font-size: 17px;
    font-weight: 300;
}

.restaurant-like {
    position: relative;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/icones/Like-gradient.svg);
        background-repeat: no-repeat;
        transform: scale(0);
        @include trans;
    }

    svg {
        stroke: $black;
        @include trans;
    }

    &:hover {
        svg {
            opacity: 0;
        }

        &:after {
            transform: scale(1);
        }
    }
}

#site-footer {
    background-color: $grey;
    padding: 25px;
    color: $white;

    a {
        display: block;
        color: $white;
        margin-bottom: 10px;
    }

    a:last-child {
        margin-bottom: 0;
    }
}

#footer-logo {
    font-family: $titleFont;
    font-size: 18px;
    margin-bottom: 15px;
}

#loading-screen {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade .2s linear forwards 1.5s;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

#loading-screen-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin-bottom: 10px;
    }

}

#loading-screen-logo {
    background: $white;
    clip-path: url(#loader-logo);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $gradient;
        animation: progress 1.5s linear forwards;
    }
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* PAGES RESTAURANT */
.restaurant {
    header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $white;
    }
}

.menu {
    padding-top: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#menu-palette {
    background-image: url(../img/restaurants/la-palette-du-gout.jpg);
}

#menu-delice {
    background-image: url(../img/restaurants/le-delice-des-sens.jpg);
}

#menu-note {
    background-image: url(../img/restaurants/la-note-enchantee.jpg);
}

#menu-francaise {
    background-image: url(../img/restaurants/a-la-francaise.jpg);
}

#content {
    background-color: $greyBg;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px $screenMargeMobile;
}

#content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.plats-liste {
    margin-bottom: 40px;

    .plat-card:last-child {
        margin-bottom: 0;
    }
}

.plats-liste-titre {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 15px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: $greenBg;
    }
}

.plat-card {
    background-color: $white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
}

.plat-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: calc(100% + 60px);
    @include trans;

    &:hover {
        width: 100%;
    }
}

.plat-text {
    width: 50%;
}

.plat-checked {
    width: 60px;
    margin-left: auto;
}

.plat-text {
    padding: 15px;
    flex: 1;
}

.plat-titre {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.plat-description {
    font-size: 15px;
}

.plat-prix {
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.plat-checked {
    background-color: $greenBg;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 1.5rem;
    color: $white;
}

#submit-button {
    display: flex;
    justify-content: center;

    a.button {
        padding-left: 50px;
        padding-right: 50px;
    }
}